@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

/* Le Maisonneuve */

.Section1 {
    height: 100vh;
    background: url(../img/LeMaisonneuve/01-Fac\(big\).jpg);
    background-size: no-repeat center center fixed;
    font-family: Arial, Helvetica, sans-serif;
    -moz-box-shadow:    inset 0 0 50px #000000;
    -webkit-box-shadow: inset 0 0 50px #000000;
    box-shadow:         inset 0 0 500px #000000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}


.LogoNavbar {
    overflow: hidden;
    margin-top: 40px;
    margin-right: 70px;
    margin-left: 70px;
}

.LogoNavbar li {
    overflow: hidden;
    float: left;
}
  
.LogoNavbar li a {
    overflow: hidden;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 0.9em;
}

.LogoNavbar li a:hover {
      text-decoration: none;
      color: aqua;
}

.MobMenu {
    display: none;
}

@media only screen and (max-width: 600px) {
    .MobMenu {
        overflow: hidden;
    }
    .p-4 {
        height: 100vh;
        position: relative;
        overflow: hidden;
}

    .LogoNavbar {
        display: none;
    }

    .MobMenu {
        height: 100vh;
        display: inline;
        color: #fff;
        position: absolute;
        z-index: 1000;
    }

    .MobMenu button {
        background: none;
        border: none;
        cursor: pointer;
        padding: 0;
        margin: 0;
    }
    .navbar-collapse {
        overflow: hidden;
        height: 100vh;
    }

    .MobMenu nav {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 10px;
        overflow: hidden;
        width: 100%;
    }

    .MobMenu nav span i {
        color: #fff;
    }
}

/* Section 2 */

.Section2 {
    margin: 60px 0 0 70px;
    font-family: 'Roboto', sans-serif;
}

.Maisonneuve {
    cursor: pointer;
    color: #fff;
    background: #000;
    padding: 10px 20px 10px 20px;
    font-size: 0.9em;
    position: absolute;
    font-family: 'Roboto', sans-serif;   
}

.Reme {
    width: 800px;
    margin-top: 60px;
}

@media only screen and (max-width: 600px) {
    .Section1 {
        background-size: 100%;
        background-repeat: no-repeat;
        height: 30vh;
    }

    .Section2 {
        margin: 15px;;
        display: flex;
        justify-content: center;
        text-align: center;
        overflow: hiddenn;
    }
}

/* Section 3 */

.Section3 {
    margin: 0 70px 0 70px;
    display: grid;
    grid-template-columns: 3.8fr 9fr;
}

.Section3 div {
    margin: 0;
    margin-top: 20px;
    width: 100%;
}

.Section3 div img {
    padding-right: 20px;
    width: 100%;
    float: right;
}

@media only screen and (max-width: 600px) {
    .Section3 {
        grid-template-columns: 1fr;
        padding: 0;
        margin: 0 10px 0 10px;
    }
    .Section3 div img {
        padding: 0;
        width: 100%;
        float: right;
    }
}

.flech {
    margin-left: 513px;
    margin-top: 40px;
}

.SiteWebPar {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px 0;
}

.SiteWebPar div p {
    padding-top: 10px;
    padding-right: 10px;
    text-align: right;
}

@media only screen and (max-width: 600px) {
    .SiteWebPar {
        margin: 0;
        padding: 0;
        display: grid;
        grid-template-columns: 1fr;
        padding: 10px 0;
        background: rgb(240, 240, 240);
    }

    .SiteWebPar div p {
        margin: 0;
        text-align: center;
        font-size: 1em;
    }
    .zedimg {
        margin:0 43%;
    }
}

.Responsive {
    display: none;
}
